<div *ngIf="products">
    <div><h3>{{title}}</h3></div>
    <div *ngFor="let p of products._embedded.products">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{p.name}}
                </div>
                <div class="panel-body">
                    <tr>
                        <td rowspan="3">
                            <img src="http://localhost:8080/photoProduct/{{p.id}}" alt="">
                            <p>
                                <button (click)="onEditPhoto(p)">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </p>
                            <p *ngIf="editPhoto && currentProduct == p">
                                <input type="file" (change)="onSelectedFile($event)">
                                <button class="btn btn-success" (click)="uploadPhoto()">Upload</button>
                                {{progess}}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{p.description}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{p.currentPrice | number:'0.2'}}</td>
                    </tr>

                </div>
            </div>
        </div>
    </div>

</div>